body {
height: 100%;
position: relative;
/* padding: 10px, 10px, 10px, 10px; */
}
/* Main container for page - gives padding between header and footer and section cards */
.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    /* removing makes footer stay at bottom during resize */
    /* padding-bottom: 100px; */
    background-color: rgba(226, 250, 250, 0.89);
}

/* remove navbar padding so navbar-brand color goes to top and bottom of navbar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
/* moves name to the right to line up with About */
.navbar .navbar-brand {
    padding: 10px;
    /* add color behind name like example */
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(91, 146, 146, 0.89);
    color: white;
}
/* Main container for page - holds Cards and gives padding between header and footer */
section {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Main Card Title */
.card-title {
    color: rgba(91, 146, 146, 0.89);
}

/* Card background images - fills card - portfolio page */
/* https://stackoverflow.com/questions/50461506/how-to-size-the-image-in-equal-length-in-bootstrap-card */
.card-img{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
    /* container of card-badge so added for spacing */
    position: relative;
 }

/* badge for card-img */
.card .card-badge {
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 10px;
    background: rgba(91, 146, 146, 0.89);
    color: white;
    text-align: center;
}

/* horizontal line under Main Card Title */
hr {
   size: 2px;
   width: 100%;
}
/* float image so text will wrap on About Page */
img {
    float: left;
    padding-right: 15px;
}
p {
    padding-top: 5px;
}
/* Submit button on Portfolio */
.btn{
    background: rgba(91, 146, 146, 0.89);
    border: none;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    border-top: 5px solid rgba(91, 146, 146, 0.89);
    padding: 15px; 
    background: rgb(112, 112, 112); 
    text-align: center ;
    color: white;
    font-size: 9px ;
}
